[Unit]
Description=Algernon Service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/tos7-app-19-algernon
ExecStart=/usr/local/tos7-app-19-algernon/bin/tos7-app-19-algernon
EnvironmentFile=/usr/local/tos7-app-19-algernon/tos7-app-19-algernon.env
TimeoutStartSec=30
TimeoutStopSec=10

# Security hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
